In [8]:
import pandas as pd

#DATA CLEANING

In [9]:
df_fixture = pd.read_csv('fifa_womens_worldcup_fixture.csv')
df_historical_data = pd.read_csv('fifa_womens_worldcup_historical_data.csv')

In [38]:
#1. Cleaning df_fixture

In [10]:
df_fixture['home']=df_fixture['home'].str.strip()
df_fixture['away']= df_fixture['away'].str.strip()

In [11]:
df_fixture

               home     score             away  year
0       New Zealand   Match 1           Norway  2023
1       Philippines   Match 3      Switzerland  2023
2       New Zealand  Match 17      Philippines  2023
3       Switzerland  Match 18           Norway  2023
4       Switzerland  Match 33      New Zealand  2023
..              ...       ...              ...   ...
59  Winner Match 54  Match 60  Winner Match 56  2023
60  Winner Match 57  Match 61  Winner Match 58  2023
61  Winner Match 59  Match 62  Winner Match 60  2023
62   Loser Match 61  Match 63   Loser Match 62  2023
63  Winner Match 61  Match 64  Winner Match 62  2023

[64 rows x 4 columns]

In [71]:
#2. cleaning historical_data

In [12]:
df_historical_data

               home         score            away  year
0            China            4–0          Norway  1991
1          Denmark            3–0     New Zealand  1991
2           Norway            4–0     New Zealand  1991
3            China            2–2         Denmark  1991
4            China            4–1     New Zealand  1991
..              ...           ...             ...   ...
279        Germany            1–2          Sweden  2019
280        England            1–2   United States  2019
281    Netherlands   1–0 (a.e.t.)          Sweden  2019
282        England            1–2          Sweden  2019
283  United States            2–0     Netherlands  2019

[284 rows x 4 columns]

In [13]:
df_historical_data['score']=df_historical_data['score'].str.replace('[^\d–]','',regex = True)

In [14]:
df_historical_data['home']=df_historical_data['home'].str.strip()
df_historical_data['away']= df_historical_data['away'].str.strip()

In [15]:
df_historical_data

              home score           away  year
0            China   4–0         Norway  1991
1          Denmark   3–0    New Zealand  1991
2           Norway   4–0    New Zealand  1991
3            China   2–2        Denmark  1991
4            China   4–1    New Zealand  1991
..             ...   ...            ...   ...
279        Germany   1–2         Sweden  2019
280        England   1–2  United States  2019
281    Netherlands   1–0         Sweden  2019
282        England   1–2         Sweden  2019
283  United States   2–0    Netherlands  2019

[284 rows x 4 columns]

In [16]:
 #spitting score into homegoals and awaygoals and deleting the score column
df_historical_data[['HomeGoals','AwayGoals']]= df_historical_data['score'].str.split('–',expand=True)

In [17]:
df_historical_data.drop('score', axis=1 , inplace = True)

In [18]:
df_historical_data

              home           away  year HomeGoals AwayGoals
0            China         Norway  1991         4         0
1          Denmark    New Zealand  1991         3         0
2           Norway    New Zealand  1991         4         0
3            China        Denmark  1991         2         2
4            China    New Zealand  1991         4         1
..             ...            ...   ...       ...       ...
279        Germany         Sweden  2019         1         2
280        England  United States  2019         1         2
281    Netherlands         Sweden  2019         1         0
282        England         Sweden  2019         1         2
283  United States    Netherlands  2019         2         0

[284 rows x 5 columns]

In [20]:
#renaming the columns and changing datatypes
df_historical_data.rename(columns={'home':'HomeTeam','away':'AwayTeam','year':'Year'},inplace=True)

df_historical_data = df_historical_data.astype({'HomeGoals':int,'AwayGoals': int,'Year': int})

In [21]:
df_historical_data.dtypes

HomeTeam     object
AwayTeam     object
Year          int64
HomeGoals     int64
AwayGoals     int64
dtype: object

In [22]:
df_historical_data['TotalGoals']= df_historical_data['HomeGoals']+ df_historical_data['AwayGoals']

In [23]:
df_historical_data

          HomeTeam       AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0            China         Norway  1991          4          0           4
1          Denmark    New Zealand  1991          3          0           3
2           Norway    New Zealand  1991          4          0           4
3            China        Denmark  1991          2          2           4
4            China    New Zealand  1991          4          1           5
..             ...            ...   ...        ...        ...         ...
279        Germany         Sweden  2019          1          2           3
280        England  United States  2019          1          2           3
281    Netherlands         Sweden  2019          1          0           1
282        England         Sweden  2019          1          2           3
283  United States    Netherlands  2019          2          0           2

[284 rows x 6 columns]

#Exporting the cleaned data

In [28]:
df_fixture.to_csv('clean_fifa_womens_worldcup_fixture.csv', index = False)

In [27]:
df_historical_data.to_csv('clean_fifa_womens_worldcup_historical_data.csv',index=False)

In [31]:
#verifying number of matches per competition
years =[1991,1995,1999,2003,2007,2011,2015,2019]
for year in years:
    print(year,len(df_historical_data[df_historical_data['Year']==year]))

1991 26
1995 26
1999 32
2003 32
2007 32
2011 32
2015 52
2019 52