In [3]:
!pip install scipy

Requirement already satisfied: scipy in /home/dinzz/.local/lib/python3.9/site-packages (1.11.1)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in /usr/local/lib/python3.9/dist-packages (from scipy) (1.25.1)

In [5]:
import pandas as pd
import pickle
from scipy.stats import poisson

In [6]:
dict_table = pickle.load(open('dict_table','rb'))
df_historical_data = pd.read_csv('clean_fifa_womens_worldcup_historical_data.csv')
df_fixture= pd.read_csv('clean_fifa_womens_worldcup_fixture.csv')

In [8]:
dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [21]:
#Calculating Team Strength

In [27]:
#split a df into df_home and df_away
df_home = df_historical_data[['HomeTeam','HomeGoals','AwayGoals']]
df_away = df_historical_data[['AwayTeam','HomeGoals','AwayGoals']]

In [29]:
#renaming columns in this df_home
df_home=df_home.rename(columns={'HomeTeam':'Team','HomeGoals':'GoalsScored','AwayGoals':'GoalsConceded'})
df_away=df_away.rename(columns={'AwayTeam':'Team','HomeGoals':'GoalsConceded','AwayGoals':'GoalsScored'})

In [31]:
#concadinating df_home and df_away to calculate the mean
df_team_strength= pd.concat([df_home , df_away], ignore_index =True).groupby('Team').mean()
df_team_strength

                   GoalsScored  GoalsConceded
Team
Argentina             0.555556       4.111111
Australia             1.461538       1.923077
Brazil                1.941176       1.176471
Cameroon              1.500000       1.500000
Canada                1.259259       1.925926
Chile                 0.666667       1.666667
China                 1.606061       0.969697
Chinese Taipei        0.500000       3.750000
Colombia              0.571429       1.285714
Costa Rica            1.000000       1.333333
Denmark               1.357143       1.857143
Ecuador               0.333333       5.666667
England               1.653846       1.153846
Equatorial Guinea     0.666667       2.333333
France                1.684211       1.052632
Germany               2.750000       0.886364
Ghana                 0.666667       3.333333
Italy                 1.666667       1.000000
Ivory Coast           1.000000       5.333333
Jamaica               0.333333       4.000000
Japan                 1.181818       1.787879
Mexico                0.666667       3.333333
Netherlands           1.272727       0.818182
New Zealand           0.533333       2.266667
Nigeria               0.769231       2.423077
North Korea           0.923077       1.538462
Norway                2.325000       1.300000
Russia                2.000000       1.750000
Scotland              1.666667       2.333333
South Africa          0.333333       2.666667
South Korea           0.600000       2.700000
Spain                 0.857143       1.142857
Sweden                1.775000       1.200000
Switzerland           2.750000       1.250000
Thailand              0.666667       5.000000
United States         2.760000       0.760000

In [32]:
#Function for predict_points

In [45]:
def predict_points(home, away):
    if home in df_team_strength.index and away in df_team_strength.index:
        # goals_scored * goals_conceded
        lamb_home = df_team_strength.at[home,'GoalsScored'] * df_team_strength.at[away,'GoalsConceded']
        lamb_away = df_team_strength.at[away,'GoalsScored'] * df_team_strength.at[home,'GoalsConceded']
        prob_home, prob_away, prob_draw = 0, 0, 0
        for x in range(0,11): #number of goals home team
            for y in range(0, 11): #number of goals away team
                p = poisson.pmf(x, lamb_home) * poisson.pmf(y, lamb_away)
                if x == y:
                    prob_draw += p
                elif x > y:
                    prob_home += p
                else:
                    prob_away += p
        
        points_home = 3 * prob_home + prob_draw
        points_away = 3 * prob_away + prob_draw
        return (points_home, points_away)
    else:
        return (0, 0)

In [34]:
#Testing function

In [51]:
#Testing with Group_a
predict_points('New Zealand','Switzerland')

(0.02521759848624812, 2.8035429088503583)

In [52]:
#predicting wold cup

In [64]:
#Group stage
df_fixture[:48]

                   home     score                 away  year
0           New Zealand   Match 1               Norway  2023
1           Philippines   Match 3          Switzerland  2023
2           New Zealand  Match 17          Philippines  2023
3           Switzerland  Match 18               Norway  2023
4           Switzerland  Match 33          New Zealand  2023
5                Norway  Match 34          Philippines  2023
6             Australia   Match 2  Republic of Ireland  2023
7               Nigeria   Match 4               Canada  2023
8                Canada  Match 19  Republic of Ireland  2023
9             Australia  Match 22              Nigeria  2023
10               Canada  Match 35            Australia  2023
11  Republic of Ireland  Match 36              Nigeria  2023
12                Spain   Match 5           Costa Rica  2023
13               Zambia   Match 6                Japan  2023
14                Japan  Match 21           Costa Rica  2023
15                Spain  Match 20               Zambia  2023
16                Japan  Match 37                Spain  2023
17           Costa Rica  Match 38               Zambia  2023
18              England   Match 7                Haiti  2023
19              Denmark   Match 8                China  2023
20              England  Match 25              Denmark  2023
21                China  Match 26                Haiti  2023
22                China  Match 39              England  2023
23                Haiti  Match 40              Denmark  2023
24        United States   Match 9              Vietnam  2023
25          Netherlands  Match 10             Portugal  2023
26        United States  Match 23          Netherlands  2023
27             Portugal  Match 24              Vietnam  2023
28             Portugal  Match 41        United States  2023
29              Vietnam  Match 42          Netherlands  2023
30               France  Match 11              Jamaica  2023
31               Brazil  Match 13               Panama  2023
32               France  Match 28               Brazil  2023
33               Panama  Match 29              Jamaica  2023
34               Panama  Match 43               France  2023
35              Jamaica  Match 44               Brazil  2023
36               Sweden  Match 12         South Africa  2023
37                Italy  Match 14            Argentina  2023
38            Argentina  Match 27         South Africa  2023
39               Sweden  Match 30                Italy  2023
40            Argentina  Match 45               Sweden  2023
41         South Africa  Match 46                Italy  2023
42              Germany  Match 15              Morocco  2023
43             Colombia  Match 16          South Korea  2023
44          South Korea  Match 32              Morocco  2023
45              Germany  Match 31             Colombia  2023
46          South Korea  Match 47              Germany  2023
47              Morocco  Match 48             Colombia  2023

In [65]:
#splitting the fixtures into grp stage,knockout,quarter,semi,finals
df_fixture_group_48 = df_fixture[:48].copy()
df_fixture_knockout = df_fixture[48:56].copy()
df_fixture_quarter = df_fixture[56:60].copy()
df_fixture_semi = df_fixture[60:62].copy()
df_fixture_final = df_fixture[62:].copy()

In [67]:
#running all the matches in the grp stage and updating grp table
for group in dict_table:
    teams_in_group = dict_table[group]['Team'].values
    df_fixture_group_6 = df_fixture_group_48[df_fixture_group_48['home'].isin(teams_in_group)]
    for index, row in df_fixture_group_6.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away = predict_points(home, away)
        dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
        dict_table[group].loc[dict_table[group]['Team'] == away, 'Pts'] += points_away

    dict_table[group] = dict_table[group].sort_values('Pts', ascending=False).reset_index()
    dict_table[group] = dict_table[group][['Team', 'Pts']]
    dict_table[group] = dict_table[group].round(0)

In [74]:
#showing updated table
dict_table['Group G']

           Team   Pts
0         Italy  14.0
1        Sweden  14.0
2     Argentina   2.0
3  South Africa   2.0

In [75]:
##Knock-Out

In [76]:
df_fixture_knockout

              home     score               away  year
48  Winner Group A  Match 49  Runner-up Group C  2023
49  Winner Group C  Match 50  Runner-up Group A  2023
50  Winner Group E  Match 51  Runner-up Group G  2023
51  Winner Group G  Match 52  Runner-up Group E  2023
52  Winner Group D  Match 54  Runner-up Group B  2023
53  Winner Group B  Match 53  Runner-up Group D  2023
54  Winner Group H  Match 56  Runner-up Group F  2023
55  Winner Group F  Match 55  Runner-up Group H  2023

In [81]:
#updating knock out fixture:
   for group in dict_table:
    group_winner = dict_table[group].loc[0, 'Team']
    runners_up = dict_table[group].loc[1, 'Team']
    df_fixture_knockout.replace({f'Winner {group}':group_winner,
                                 f'Runner-up {group}':runners_up}, inplace=True)

df_fixture_knockout['winner'] = '?'
df_fixture_knockout

             home     score         away  year winner
48    Switzerland  Match 49        Spain  2023      ?
49     Costa Rica  Match 50       Norway  2023      ?
50  United States  Match 51       Sweden  2023      ?
51          Italy  Match 52  Netherlands  2023      ?
52          China  Match 54      Nigeria  2023      ?
53         Canada  Match 53      England  2023      ?
54        Germany  Match 56       Brazil  2023      ?
55         France  Match 55     Colombia  2023      ?

In [82]:
#predicting the knock out winners
def get_winner(df_fixture_updated):
    for index, row in df_fixture_updated.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away = predict_points(home, away)
        if points_home > points_away:
            winner = home
        else:
            winner = away
        df_fixture_updated.loc[index, 'winner'] = winner
    return df_fixture_updated

In [85]:
get_winner(df_fixture_knockout)

             home     score         away  year         winner
48    Switzerland  Match 49        Spain  2023    Switzerland
49     Costa Rica  Match 50       Norway  2023         Norway
50  United States  Match 51       Sweden  2023  United States
51          Italy  Match 52  Netherlands  2023          Italy
52          China  Match 54      Nigeria  2023          China
53         Canada  Match 53      England  2023        England
54        Germany  Match 56       Brazil  2023        Germany
55         France  Match 55     Colombia  2023         France

In [94]:
##predicting the quarter finals
df_fixture_quarter

               home     score             away  year winner
56  Winner Match 49  Match 57  Winner Match 51  2023      ?
57  Winner Match 50  Match 58  Winner Match 52  2023      ?
58  Winner Match 53  Match 59  Winner Match 55  2023      ?
59  Winner Match 54  Match 60  Winner Match 56  2023      ?

In [97]:
#updating the quarter finals fixture
def update_table(df_fixture_round_1, df_fixture_round_2):
    for index, row in df_fixture_round_1.iterrows():
        winner = df_fixture_round_1.loc[index, 'winner']
        match = df_fixture_round_1.loc[index, 'score']
        df_fixture_round_2.replace({f'Winner {match}':winner}, inplace=True)
    df_fixture_round_2['winner'] = '?'
    return df_fixture_round_2

In [98]:
update_table(df_fixture_knockout,df_fixture_quarter)

           home     score           away  year winner
56  Switzerland  Match 57  United States  2023      ?
57       Norway  Match 58          Italy  2023      ?
58      England  Match 59         France  2023      ?
59        China  Match 60        Germany  2023      ?

In [99]:
get_winner(df_fixture_quarter)

           home     score           away  year         winner
56  Switzerland  Match 57  United States  2023  United States
57       Norway  Match 58          Italy  2023         Norway
58      England  Match 59         France  2023         France
59        China  Match 60        Germany  2023        Germany

In [100]:
#semifinals
update_table(df_fixture_quarter,df_fixture_semi)

             home     score     away  year winner
60  United States  Match 61   Norway  2023      ?
61         France  Match 62  Germany  2023      ?

In [101]:
get_winner(df_fixture_semi)

             home     score     away  year         winner
60  United States  Match 61   Norway  2023  United States
61         France  Match 62  Germany  2023        Germany

In [102]:
#THE WINNER OF THE 2023 WOMEN'S WORLD CUP :

In [103]:
update_table(df_fixture_semi,df_fixture_final)

              home     score            away  year winner
62  Loser Match 61  Match 63  Loser Match 62  2023      ?
63   United States  Match 64         Germany  2023      ?

In [104]:
get_winner(df_fixture_final)

              home     score            away  year          winner
62  Loser Match 61  Match 63  Loser Match 62  2023  Loser Match 62
63   United States  Match 64         Germany  2023   United States